<div class="card">
  <div class="card-header bg-primary text-white"> {{title}} </div>
  <div class="card-block">
    <form class="form">
      <div class="form-group row">
        <label class="col-form-label col-sm-2 text-sm-right" for="filterDesc">Filtro:</label>
        <div class="col-sm-5">
          <input type="text" [(ngModel)]="filterSearch" class="form-control" name="filterDesc" id="filterDesc" placeholder="Filter...">
        </div>
        <label class="col-form-label col-sm-5"> Filtrando por: {{filterSearch}}</label>
      </div>
    </form>
    <div *ngIf="products && products.length">
      <div class="row headers no-gutters">
        <div class="col-2">
          <button class="btn btn-sm" [ngClass]="{'btn-danger': showImage, 'btn-primary': !showImage}" (click)="toggleImage()">
            {{showImage?'Ocultar':'Mostrar'}} imagen
          </button>
        </div>
        <div class="col-4">{{cabeceras.producto}}</div>
        <div class="col">{{cabeceras.precio}}</div>
        <div class="col">{{cabeceras.disponible}}</div>
        <div class="col">{{cabeceras.rating}}</div>
      </div>
        <product-item class="row no-gutters"
        [productoHijo]="product" [mostrarImagen]="showImage"
        [estilo1]="estilo1" [estilo2]="estilo2"
        *ngFor="let product of products | productFilter:filterSearch"></product-item>
        <div>
          <label>Elige un estilo: &nbsp;</label>
          <label>
            <input type="radio" value="1" name="estilos" (change)="cambiarEstilo()"> Estilo 1 &nbsp;
          </label>
          <label>
            <input type="radio" value="2" name="estilos" (change)="cambiarEstilo()"> Estilo 2
          </label>
        </div>
    </div>
  </div>
</div>
