html {
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}
body {
    margin:0;
}
header {
    background: purple;
    height: 75px;
}
h1 {
    text-shadow: 5px 5px 5px black;
    text-align: center;
    color: white;
    line-height: 75px;
    margin:0;
}
h2 {
    text-shadow: 5px 5px 10px black;
    font-style: italic;
}
section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
article {
    padding: 1%;
    margin: 1%;
    background: aqua;
    flex: 25%; /*Esto hace que todos los artículos tengan el mismo tamaño*/
    box-shadow: 5px 5px gray;
    /* Partes de box-shadow:
    * offset-x | offset-y | blur-radius | spread-radius | color
    * La propiedad blur-radius difumina el color alrededor de nuestro botón (se puede omitir)
    * La propiedad spread-radius extiende nuestra sombra alrededor de nuestro botón (se puede omitir)
    */
}
footer {
    background: rgba(128, 0, 128, 0.75);
    height: 75px;
}
img{
    width: 100%;
}