<event-add class="mt-4" (addEvento)="addEvent($event)"></event-add>
<nav class="navbar navbar-light bg-light justify-content-between mt-3">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#" (click)="orderDate()">Orden por fecha</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" (click)="orderPrice()">Orden por precio</a>
    </li>
  </ul>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="text" [(ngModel)]="search" name="search" placeholder="Search" aria-label="Search">
  </form>
</nav>
<div class="row" *ngIf="events && events.length; else noEventos">
  <select [(ngModel)]="desplegable" (change)="cambiarFondo()">
    <option value="">Sin fondo</option>
    <option value="rojo">Fondo rojo</option>
    <option value="azul">Fondo azul</option>
  </select>
  <ng-template #elseBlock></ng-template>
  <evento-item class="col-6 mt-4" [fondoRojo]="fondoRojo" [fondoAzul]="fondoAzul" [eventoHijo]="evento"
  (borrarEvento)="deleteEvent(evento)" *ngFor="let evento of events | eventFilter:search">
  </evento-item>
</div>
<ng-template #noEventos><h3>No hay eventos disponibles</h3></ng-template>
